.navbarDiv {
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 15%);
    background-color: white;
    position: sticky !important;
    top: 0;
    left: 0;
}


.containerOfNavbar {
    align-items: center !important;
    justify-content: space-between;
}

.ulOfNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.ulOfNavbar li {
    list-style: none;
    margin: 0 15px;
    font-weight: 500;
    cursor: pointer;
}

.active-scroll-spy {
    background-color: yellowgreen;
    border-radius: 15px;
}