.navbarLogo{
    border-radius: 50%;
}

.containerOfNavbar{
    align-items: center !important;
    justify-content: space-between;
}

.ulOfNavbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.ulOfNavbar li{
    list-style: none;
    margin: 0 15px;
}