* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* navbar */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.navbar-brand img {
    width: 50px;
}

/* nav-link without scroll */
.nav-link {
    text-transform: uppercase;
    position: relative;
    background-color: transparent !important;
    color: white;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}

.nav-item:hover .nav-link::before,
.nav-link.active::before {
    width: 80%;
}

.nav-item:hover .nav-link,
.nav-link.active {
    color: white !important;
}

/* end nav-link without scroll */


/* nav-link with scroll */

.bg-scroll {
    background-color: white;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 20%);
}

.bg-scroll .nav-link {
    text-transform: uppercase;
    position: relative;
    background-color: transparent !important;
    color: black;
}


.bg-scroll .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #0db3c7;
    transition: width 0.5s ease;
}

.bg-scroll .nav-item:hover .nav-link::before,
.bg-scroll .nav-link.active::before {
    width: 80%;
}

.bg-scroll .nav-item:hover .nav-link,
.bg-scroll .nav-link.active {
    color: black !important;
}

.navbarToggler {
    display: none;
}

/* end navbar */
/* homeDiv */
.homeDiv {
    min-height: 100vh;
    position: relative;
    padding: 80px;
    background-color: white;
}

.homeImg {
    position: absolute;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    height: 100%;
    animation: fadeInRight .5s ease-in-out;
}

.ManUsingLaptop {
    position: absolute;
    right: 100px;
    top: 200px;
    bottom: 0%;
    width: 32vw;
    height: 64vh;
    background-repeat: no-repeat;
    animation: fadeInBottom 1s ease-in-out;
}

.htmlIcon {
    position: absolute;
    top: 100px;
    right: 10%;
    width: 80px;
    height: 100px;
    animation: topToBottomAnim infinite 2s 1s ease-in-out;
}

.cssIcon {
    position: absolute;
    top: 150px;
    right: 16%;
    width: 80px;
    height: 100px;
    animation: topToBottomAnim infinite 2s .5s ease-in-out;
}

.jsIcon {
    position: absolute;
    top: 150px;
    right: 28%;
    width: 80px;
    height: 100px;
    animation: topToBottomAnim infinite 2s .8s ease-in-out;
}

.bootstrapIcon {
    position: absolute;
    top: 110px;
    right: 34%;
    width: 90px;
    height: 80px;
    animation: topToBottomAnim infinite 2s .2s ease-in-out;
}

.txtDivOfHome {
    position: absolute;
    width: 60%;
}

.txtDivOfHome h1 {
    font-size: 50px;
    font-weight: bold;
    animation: fadeInBottom .5s ease-in-out;
}

.spanOfFrelancer {
    color: #0db3c7;
}

.CreateThousandOfWebsites {
    background-color: rgba(13, 179, 199, .12);
    color: #0db3c7;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    width: max-content;
    letter-spacing: 4px;
    padding: 10px 30px;
    margin-top: 50px !important;
    animation: fadeInBottom .4s ease-in-out;
}

.btnOfHireMe {
    background-color: #0db3c7;
    box-shadow: 0px 0px 0px transparent;
    color: white;
    border: none;
    border-radius: 5px;
    transform: translateY(0);
    transition: all .5s;
    animation: fadeInBottom .8s ease-in-out;
}

.btnOfHireMe:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 30%);
}

.bubble2 {
    height: 30px;
    width: 30px;
    background: #fca249;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: spin1 2s infinite alternate;
    z-index: 0;
}

.bubble3 {
    height: 25px;
    width: 25px;
    background: #ff9398;
    border-radius: 50%;
    position: absolute;
    top: 33%;
    left: 15%;
    animation: spin1 2s infinite alternate;
    z-index: 0;
}

.bubble1 {
    height: 10px;
    width: 10px;
    background: #d27dfa;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    left: 50%;
    animation: spin1 2s infinite alternate;
    z-index: 0;
}

.bubble4 {
    height: 10px;
    width: 10px;
    background: #00c99c;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 80%;
    animation: spin2 2s infinite alternate;
    z-index: 0;
}

.bubble5 {
    height: 20px;
    width: 20px;
    background: #f1d53b;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 41%;
    animation: spin2 2s infinite alternate;
    z-index: 0;
}

@keyframes spin1 {
    0% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1.5);
    }
}

@keyframes spin2 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(40px);
    }
}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(80px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes topToBottomAnim {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0px);
    }
}


/* end homeDiv */


/* skillDiv */

.serviceDiv{
    background-color: #fafafa;
    width: 100%;
}

.listContentDiv{
    color: black;
}

.skillsDiv {
    background-color: #fafafa;
}

.skillsHeading {
    font-size: 30px;
    text-align: center;
    color: black;
}

.skillsSubTitle {
    font-size: 16px;
    text-align: center;
    color: #868e96;
}

.iconsList {
    list-style-type: none;
}

.skillsIcon {
    font-size: 50px;
    color: #868e96;
}

.skillsIconTitle {
    color: #868e96;
    font-size: 14px;
}

.skillsImg {
    width: 70%;
    height: 100%;
}



.skillsIconDiv {
    overflow-x: hidden;
}

.skillsImg.fadeInLeft {
    animation: fadeInLeft 1s ease-in-out 0s 1 normal forwards;
}

.skillsIconDiv .fadeInRight {
    animation: fadeInRight 1s ease-in-out;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.singleIcon:hover {
    cursor: pointer;
}

.singleIcon:hover .skillsIcon {
    color: #0db3c7;
    transition: all .5s;
}

.skillsListIcon {
    width: 20px;
    margin: 0 10px;
}

/* end skillsDiv */




@media (max-width: 991px) {
    .homeImg {
        display: none;
    }

    .homeImgDiv,
    .skillsIconDiv {
        margin-top: 50px;
    }
}

@media (max-width: 540px) {

    .htmlIcon,
    .jsonIcon {
        width: 30px;
    }
}

@media (max-width: 320px) {
    .homeDiv .row h2 {
        font-size: 40px;
    }

    .htmlIcon,
    .jsonIcon {
        width: 20px;
    }
}

.singleIcon:hover .skillsIcon {
    color: #0db3c7;
    transition: all .5s;
}

.skillsListIcon {
    width: 20px;
    margin: 0 10px;
}

/* end skillsDiv */

@media (max-width: 991px) {
    .navbar {
        background-color: white;
        box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 20%);
    }

    .nav-link {
        text-transform: uppercase;
        position: relative;
        background-color: transparent !important;
        color: black;
    }

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #0db3c7;
        transition: width 0.5s ease;
    }

    .nav-item:hover .nav-link::before,
    .nav-link.active::before {
        width: 80%;
    }

    .nav-item:hover .nav-link,
    .nav-link.active {
        color: black !important;
    }

    .navbarToggler {
        display: block;
    }

    .navbar-brand {
        background-color: white;
    }

    .nav-link {
        width: fit-content;
    }

    .navbar-nav {
        gap: 0 !important;
    }

    .navbarToggler:active {
        border-color: #0db3c7 !important;
    }

    .navbarToggler:hover {
        background-color: #0db3c7;
        transition: all .3s;
    }

    .toggler {
        color: #0db3c7;
        font-size: 24px;
    }

    .navbarToggler:hover .toggler {
        color: white;
    }

    .homeImg {
        display: none;
    }

    .homeDiv {
        padding: 50px 0px 0px 0px;
        height: 200vh;
    }

    .txtDivOfHome {
        width: 100%;
    }

    .ManUsingLaptop,
    .bootstrapIcon,
    .cssIcon,
    .jsIcon,
    .htmlIcon {
        top: 50%;
        left: 50%;
        object-fit: contain;
    }

    .bootstrapIcon,
    .cssIcon,
    .jsIcon,
    .htmlIcon {
        width: 80px;
        height: 100px;
    }

    .ManUsingLaptop {
        width: 80vw;
        height: 80vh;
        margin-left: -40vw;
    }

    .bootstrapIcon {
        margin-left: -40vw;
    }

    .htmlIcon {
        margin-left: -22vw;
    }

    .cssIcon {
        margin-left: 10vw;
    }

    .jsIcon {
        margin-left: 25vw;
    }

}


@media (max-width: 991px) {
    .homeImg {
        display: none;
    }

    .homeImgDiv,
    .skillsIconDiv {
        margin-top: 50px;
    }
}

@media (max-width: 540px) {

    .htmlIcon,
    .jsonIcon {
        width: 30px;
    }
}

@media (max-width: 320px) {
    .homeDiv .row h2 {
        font-size: 40px;
    }

    .htmlIcon,
    .jsonIcon {
        width: 20px;
    }
}


.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.section:nth-child(odd) {
    background-color: #9b67e5;
}

.section:nth-child(even) {
    background-color: #621bc5;
}